{% include 'partials/header.html' %}

<style>
    /* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0%;
top: 0%;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-backdrop{
z-index: 0;
}

/* Modal Content/Box */
.modal-content {
background-color: #f4f4f4;
margin: auto; /* 5% from the top, 15% from the bottom and centered */
padding: 1px;
width: auto; /* Could be more or less, depending on screen size */
height: 90%;
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17),
}


/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}
.container {
padding: 0px;
}
button:hover {
opacity: 0.8;
}


.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

.w3-card{
width: 100%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
display: block;
float: none;
}
.cancelbtn {
width: 100%;
}
}
</style>
    <div style="margin-bottom: 30px;">
        <h1 style="border-bottom: 3px solid teal; display: inline-block;"> {{val}} :</h1>
        <span style="padding-right: 15%"></span>
        <h4 style="display: inline-block; padding-right: 2%" >(<strong>IMDb Rating</strong> : {{rating.0}} ) </h4>
        <p style="display: inline-block;">
          <button class="w3-button w3-xlarge w3-circle w3-teal" >
            {{rating.1}} /10
          </button>
        </p>
    </div>
    <div class="card-columns">
        {% for link in links %}
        <a style="text-decoration: none" href="{{link}}" id="uniq" class="btn" data-target="#myModal" target="iframe_a">
        <div title="{{link}}" class="w3-panel w3-teal w3-card w3-display-container w3-hover-shadow w3-padding-32 w3-round-xlarge" style="width:auto ">
            <p class="w3-text-black w3-myfont">
                 <h1 > link : {{ forloop.counter }} </h1> 
            </p>
        </div> 
        </a>
        {% endfor %}
    </div>
        
<!-- Modal -->
<div class="container">
    <div class="modal in fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
          ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <script>
    $('a#uniq').on('click', function(e) {
                var url = $(this).attr('href');
                $("#myModal").modal("show");
                $(".modal-body").html('<iframe onload="onLoad()" id="iFrameId" name="iframe_a" width="100%" height="500" allowtransparency="true" src="'+url+'"></iframe>');
            });
    </script>
    <script>
    function onLoad() {
      //var iframe = document.getElementById("iFrameId");
      //var elmnt = iframe.contentWindow.document.getElementsByTagName("h1")[0];
      //elmnt.style.display = "none";
    }
    </script>

{% include 'partials/footer.html' %}